@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of Art Items";
}

<h3>List of Art Items</h3>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create New Product</a>
</p>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@product.ImageUrl" alt="@product.Name" style="max-width: 100px;" />
                </td>
                <td>@Html.DisplayFor(modelItem => product.Name)</td>
                <td>@Html.DisplayFor(modelItem => product.Price)</td>
                <td>@Html.DisplayFor(modelItem => product.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => product.Description)</td>
                <td>@Html.DisplayFor(modelItem => product.Categories.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success btn-sm">Edit</a>
                    <a asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-success btn-sm">AddToCart</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <div class="alert alert-info">Products not available in the database.</div>
}
